.contenedor{
    background: rgb(17,17,17);
    width: 95%;
    padding: 15px 1px 15px 5%;
}

.medidas{
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:azure;
    display: flex;
    align-items: center;
}

.colores{
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:azure;
    display: flex;
    align-items: center;
}

.precio{
    font-size: 1.1rem;
    font-family:'Courier New', Courier, monospace;
    color:azure;
    display: flex;
    align-items: center;
}

.icono{
    font-size: 3.0rem;
    
}



